<div class="chat-container">
  <div class="chat-messages" id="chat-messages">
    <div *ngFor="let message of messages">
      <p class="txt-message">{{message.Text}}</p>
      <span class="small">{{message.Date | date:'medium'}}</span>
      <br>      
    </div>
  </div>
  <div class="chat-controls">
      <div class="input-message">
        <input placeholder="Type here..." id="txtmessage" name="txtmessage" [value]="textValue" 
        (input)="textValue=$event.target.value" (keydown.enter)="sendMessage()" placeholder="Type here..."  />
      </div>
      <button (click)="sendMessage()" id="send" class="btn-primary" >
        Send Message
      </button>
  </div>
  </div>
  